@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    transition: 0.3s;
    margin: 0;
    padding: 0;
    background-color: rgb(243, 243, 243);
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 300;
    margin: 10px 0;

}

h2{
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    margin: 50px 0 10px 0;
}

p {
    margin: 5px 0;
    font-size: 20px;
}

a {
    color: brown;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
}

.dark a {
    color: rgb(175, 83, 83);
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;


}

.text-dark {
   
    margin-right:10px;
    
}

.switch {

    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(39, 38, 38);
    position: relative;
}

.flicker {

    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 5px;
    transition: 0.3s;
    left: 5px;
    box-shadow: 
        inset 4px 4px 4px rgb(255, 255, 255),
        inset -4px -4px 4px rgb(195 193 198 / 90%);
}

.dark {
    background-color: rgb(57, 57, 57);
    transition: 0.3s;

}

.dark .flicker {
    transform: translateX(40px); 
}

.dark > * {
    color: rgb(255, 255, 255);
}

.moon {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
    position: absolute;
    top: 5px;
    left: 45px;
}

.main {
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.mian-text {
    width: 50%;
    padding: 30px;
    margin-bottom: 100px;
}

.square {
    width: 98%;
    margin: 1%;
    height: 350px;
    background-color: rgb(255, 255, 255);
    text-align: center;

}

.dark .square {
    background-color: rgb(78, 78, 78);
}

.sub-section {
    display: flex;
    flex-wrap: wrap;
}

.hero-image {
    position: relative;
    width: 50%;
    height: 350px;
    display: block;
    margin-bottom: 100px;

}

.cube {
    position: absolute;
    width: 80px;
    height: 80px;
    transform: rotate(-25deg) skew(25deg);
}

.cube:before {
    position: absolute;
    content: "";
    width: 21px;
    height: 100%;
    transform: skewY(-45deg);
    left: -20px;
    bottom: -10px;
}

.cube:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 21px;
    transform: skewx(-45deg);
    left: -10px;
    bottom: -20px;
}

#html {
    left: 100px;
    bottom: 80px;
    background-image: url("images/html-square.png");
    background-size: cover;
    background-color: rgb(255, 138, 5);
    box-shadow: -60px 55px 10px rgb(50 50 50/ 15%);
}

.dark #html {
    box-shadow: -60px 55px 10px rgba(0, 0, 0, 0.438);
}


#html:before {
    background-color: rgb(255, 160, 50);
}

#html:after {
    background-color: rgb(255, 178, 90);
}

#css {
    left: 250px;
    bottom: 240px;
    background-image: url("images/css-square.png");
    background-size: cover;
    background-color: rgb(5, 155, 255);
    box-shadow: -60px 60px 10px rgb(50 50 50/ 15%);
}

.dark #css {
    box-shadow: -60px 60px 10px rgba(0, 0, 0, 0.438);
}


#css:before {
    background-color: rgb(56, 173, 250);
}

#css:after {
    background-color:  rgb(97, 189, 250);
}

#javascript {
    left: 450px;
    bottom: 90px;
    background-image: url("images/javascript-square.png");
    background-size: cover;
    background-color: rgb(255, 238, 5);
    box-shadow: -60px 50px 10px rgb(50 50 50/ 15%);
}

.dark #javascript {
    box-shadow: -60px 50px 10px rgba(0, 0, 0, 0.438);
}


#javascript:before {
    background-color:  rgb(255, 242, 61);
}

#javascript:after {
    background-color:   rgb(255, 245, 107);
}


footer {

    display: flex;
    justify-content: center;
    padding: 100px 30px;
    background-color: rgb(238, 238, 238);
}

.dark footer {
    background-color: rgb(20, 20, 20);

}
@media only screen and (min-width: 970px) {
    .square{
        width: 48%;
        margin: 1%;
        height: 600px;
    }
    
}

@media only screen and (max-width: 700px) {
    .hero-image{
        display: none;
    }

}